<!-- Start Feautes -->
<section class="Feautes section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section-title">
					<h2>Premier Care Billing is a Medical Billing Service which has been thriving since 2009</h2>
					<img src="assets/img/section-img.png" alt="#">
					<p>Our company (Premier Care Billing LLC) has approximately billed over 100+ practices in 22 states. Our team of medical billing experts works with healthcare providers all over the USA to ease off the strain of billing and help generate more revenue. Our team has been in the business for over five decades. It has expertise in managing the revenue cycle of healthcare practices from different disciplines.</p>
				</div>
			</div>
		</div>
	
	</div>
</section>
<!--/ End Feautes -->