<!-- Start Features -->
<section class="features section"id="about" >
  <div class="container d-flex flex-column  align-items-center">
    <h2 style="font-size: 42px; margin-bottom: 20px; font-weight: bold;">
      About Us
    </h2>

    <div class="row align-items-center">
      <!-- Left Side: Image -->
      <div class="col-lg-6 col-12 mb-4 mb-lg-0">
        <div class="">
          <img
            src="/assets/img/about-us.jpg"
            alt="Medical Billing Service"
            class="img-fluid rounded shadow"
          />
        </div>
      </div>

      <!-- Right Side: Text Content -->
      <div class="col-lg-6 col-12">
        <div class="">
          <h2>
            Premier Care Billing is a Medical Billing Service which has been
            thriving since 2021
          </h2>
          <img
            src="assets/img/section-img.png"
            alt="#"
            class="img-fluid mb-3"
          />
          <p>
            Our company (Premier Care Billing LLC) has approximately billed over
            100+ practices in 22 states. Our team of medical billing experts
            works with healthcare providers all over the USA to ease off the
            strain of billing and help generate more revenue. Our team has been
            in the business for over five decades. It has expertise in managing
            the revenue cycle of healthcare practices from different
            disciplines.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ End Features -->
