<!-- Topbar -->
<div class="topbar">
  <div class="container">
    <div class="row">
      <div class=" col-12">
        <!-- Top Contact -->
        <ul class="top-contact float-left">
          <li><i class="fa fa-phone"></i>+17344882577</li>
          <li>
            <i class="fa fa-envelope"></i
            ><a href="mailto:info@premiercarebilling.com"
              >info&#64;premiercarebilling.com</a
            >
        </li>
        <li>Address: 2891 CROOKS RD Troy, MI 48084</li>
    </ul>
        <!-- End Top Contact -->
      </div>
     
    </div>
  </div>
</div>
<!-- End Topbar -->
